[Unit]
Description=wbcconfig
After=multi-user.target

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStart=/root/wifibroadcast_misc/wbcconfig.sh

[Install]
WantedBy=multi-user.target
