[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'if [ -f /boot/openhd/openhd/ground.txt ] || [ -f /boot/openhd/openhd/air.txt ]; then sudo openhd; else echo "No Autostart"; fi'
Name=OpenHD
Icon=/opt/OpenHD.ico
